@use '../utilities/variables' as *;

@mixin img-display {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin btn-hover {
  &:hover {
    background-color: $btn-light;
    @content;
  }
}