//Colors
$brown: #777;
$cyan: #58e1c1;
$seablue: #51ddfc;
$purple: #927bc1;
$red: #e4757a;

//Button color
$btn-color: #32d7f4;
$btn-light: lighten($btn-color, 15%);

//Media queries
$break-med: 768px;

//Background colors
$bg-colors: (
   'color1': #927bc1,
   'color2': #fd7856,
   'color3': #deb2ee,
  'color4:': #7ee6fd,
  'color5': #88d9a0,
  'color6': #4da2bb,
  'color7': #ec9fa3,
  'color8': #fd9f85,
  'color9': #e4757a,
  'color10': #63cc82,
  'color11': #51ddfc,
  'color12': #80e8d1,
);