.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition-duration: .5s;
    @include btn-hover {
      
    }
  }
  
  .default {
    background-color: $seablue;
  }
  
  .error {
    background-color: $red;
  }
  
  .info {
    background-color: $purple;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }