* {
  font-family: 'Lato', sans-serif;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}

.headline-secondary {
  font-weight: 300;
}

.link {
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
}